.sidebar__chats {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #e9edef;
  cursor: pointer;
}
.sidebar__chats:hover {
  background: #f5f6f6;
}
.sidebar__chats__Avatar {
  margin: 10px;
}
.sidebar__chat__person {
  padding: 5px;
}
.sidebar__chats__addNew {
  padding: 15px;
  border-bottom: 1px solid #e9edef;
  cursor: pointer;
}
.sidebar__chats__addNew:hover {
  background: #f5f6f6;
}
a {
  text-decoration: none;
  color: black;
}
